<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    下标赋值-->
<!--    <bean id="user" class="com.pojo.User">-->
<!--        <constructor-arg index="0" value="xxx" />-->
<!--    </bean>-->

<!--    通过类型创建 , 不建议使用-->
<!--        <bean id="user" class="com.pojo.User">-->
<!--            <constructor-arg type="java.lang.String" value="xxxx" />-->
<!--        </bean>-->

<!--    直接通过参数名设置 -->

<!--
        id: bean的唯一标识，也就是相当于我们学的对象名
        class：bean对象对应的权限定名：包名+类型
        name：也是别名，而且name可以同时获取多个别名
-->
    <bean id="user" class="com.pojo.User" name="user3">
        <constructor-arg name="name" value="xxx" />
    </bean>

    <bean id="usert" class="com.pojo.UserT">

    </bean>

<!--    别名，如果添加了别名，我门也可以使用别名获取这个对象-->
    <alias name="user" alias="user2"/>
</beans>